
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../public/css/style.css" >
</head>
<body>
    <header>

    </header>
        <main>
           
            <div class="reg-form">
                <%- include("../partials/html/signup.html"); -%>
            </div>
        </main>
    <footer>

    </footer>

    <!-- <script>
        let form = document.querySelector("form");
        form.addEventListener("submit", sendForm())

        let email = form.email.value;
        let username = form.username.value;
        let password = form.password.value;

        async function  sendForm(param){
            param.preventDefault();
            try {
                const get = await fetch("/register",{
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify({username, email, password})
                })

                const user = await get.json()
                console.log(user)

            } catch(error) {
                console.log(error)
            }
        }
    </script> -->
    
</body>
</html>