
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../public/css/style.css" >
</head>
<body>
    <header>
        <button type="button"> <a href="/logout">Logout </a></button>
        <div class="delete-update">
            <button type="button"> <a href="/deleteUser"> Delete your account </a></button>
            <button type="button"> <a href="/updateUser"> Update account </a></button>
        </div>
        
    </header>
        <main>
           
            <div class="partial-wrapper">
                <%- include("../partials/html/success.html"); -%>
            </div>
        </main>
    <footer>

    </footer>

    
    
</body>
</html>