<form action="/login" method="POST">
    <h1>Login</h1>
    <div class="form-div">
        <label for="username">Email:
            <input type="email" id="username" name="email" placeholder="Enter email" title="TYPE your email" required>
        </label>
        <label for="password" >Password:
            <input type="password" id="password" name="password" placeholder="Enter password" title="TYPE your password" required>
        </label>
        <button type="submit"> LOGIN </button>
    </div>
</form>
<p class="no_account bold-para">Don't have account? Login with</p>

<div class="alt-login">
    <p><a class="sign-up" href="/register">Sign up</a></p>
    <p ><a  class="github" href="/githubOauth">Github</a></p>
    <!-- <p><a href="/logout">Logout</a></p> -->
</div>

