
<h1>Registeration</h1>
<form action="/registeruser" method="POST">
    
    <div class="form-div">
        <label for="username">Username:
            <input type="text" id="username" name="username" placeholder="Enter username" title="TYPE your username" required>
        </label>
        <label for="password" > Password:
            <input type="password" id="password" name="password" placeholder="Enter password" title="TYPE your password" required>
        </label>
        <label for="email">Email:
            <input type="email" id="email" name="email" placeholder="Enter Email" title="TYPE your email address" required>
        </label>

        <label for="first_name">First Name:
            <input type="text" id="first_name" name="first_name" placeholder="Enter first name" title="TYPE your first name" required>
        </label>

        <label for="last_name">Last NAME:
            <input type="text" id="last_name" name="last_name" placeholder="Enter last name" title="TYPE your last name" required>
        </label>

        <label for="profession">Profession:
            <input for="profession" type="text" id="text" name="profession" placeholder="Enter profession" title="TYPE your profession" required>
        </label>

        <label for="phone">Phone: 
            <input type="tel" id="phone" name="phone" placeholder="Enter phone" title="TYPE your phone number" required>
        </label>

        <label for="country">Country:
            <input type="text" id="country" name="country" placeholder="Enter country" title="TYPE your country" required>
        </label>

        <button type="submit"> SIGN UP </button>
    </div>
</form>
<p class="no_account bold-para">Don't have account?  Login with</p>

<div class="alt-login">
    <p><a class="sign-up" href="/login-page">Login</a></p>
    <p class="login_github"><a class="github" href="/githubOauth">GitHub</a></p>
</div>

