<div>
    <h1>Moses Ette's Profile</h1>

    <p>
        All you want to know about Moses Ette is here
    </p>

    <picture>
        <img src="public/img/Francophones.jpg" alt="moses ette's photo" title="moses ette's picture">
    </picture><br>
    <div class="bio">
        <p>Name: <span class="bold-para"> Moses A. Ette </span></p>
        <p>Country: <span class="bold-para"> Nigeria </span></p>
        <p>State: Akwa Ibom </span></p></span>
        <p>Time zone: <span class="bold-para"> WAT (West African Time)</span></p> <br>
        <p>LinkedIn:<span class="bold-para"><a href="www.linkedin.com/in/mosesette"> www.linkedin.com/in/mosesette</a></span></p>
        <p>School: <span class="bold-para"><a href="www.byui.edu"> Brigham Young University, Idaho</a></span></p>
        <p>Major: <span class="bold-para"> Applied Technology </span> </p>
        <p>Certificate:<span class="bold-para"> Front-End Web Development </span></p>
        
    </div>
</div>